body {
	background: #f6f6f6;;
	margin: 0;
	padding: 0;
}

#container {
	max-width: 760px;
	margin: 42px auto;
	background: #fff;
}

#header {
	background: #49b4ef;
	color: white;
	font-size: 16px;
	height: 53px;
	line-height: 50px;
	font-weight: bold;
	border-radius: 3px;
	text-align: center;
}

p{
	color:green;
}

.photo-container{
	padding:10px;
	border : 1px solid #ccc;
	float:left;
	margin-right:10px;
}

.photo-description{
	margin-top: 8px;
	font-size: 15px;
	color: rgb(34, 34, 34);
}

.photo-content{
	outline: none;
}